{% include setup.html %}
<div id="main">
    <div id="react-root">
        <div class="channel-featured">
            <div class="widgets-container">
                <!-- <div class="widgets-article-count">
                    <div class="article-count-mate">至今共发布
                        <span class="article-count-num">{{ site.posts.size }}</span>篇文章
                    </div>
                </div>
                <div class="widgets-slogan">
                    <div class="widgets-slogan-mate">
                        <p>{{ site.data.application.worknotes.slogin }}</p>
                    </div>
                </div> -->

                <div class="panel">
                    <div class="inner bg-color-info">
                        <div class="bg-color-info header ">
                            WorkNotes 是什么？
                        </div>
                        <div class="content">
                            WorkNotes 是一个个人记录与工作技能相关信息相关的网站。以便在以后的工作中遇到
                            相应的情况可以快速的进行查阅。本站至今共发布了<b>{{site.posts | size}}</b>
                            篇文章作品。 -- <font style="font-style:italic;">{{site.data.application.worknotes.slogin}}</font>
                        </div>
                    </div>
                </div>

                <div class="panel ">
                    <div class=" inner-none-border  ">
                        <div class="subpanel ">
                            <div class="inner">
                                <div class="header default-bg-color">最新发布的文章</div>
                                <div class="content">
                                    {% assign posts = site.posts | order: 'date' | slice:0, site.data.application.worknotes.new_add_list_count %}
                                    {% for p in posts %}
                                    <div>
                                        <a title="👉{{p.title}}" href="{% if namespace != nil %}/{{namespace}}{% endif %}{{p.url}}">👉 {{p.title}}</a>
                                        / {{p.date | date:"%Y-%m-%d"}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="subpanel">
                            <div class="inner">
                                <div class="header default-bg-color">
                                    推荐列表
                                </div>
                                <div class="content">
                                    {% for recommended in site.data.recommended %}
                                    {% assign np = site.posts | where: "title", recommended.title | first %} 
                                    
                                        <!-- jsonify -->
                                        <div><a title="{{np.title}}" href="{% if namespace != nil %}/{{namespace}}{% endif %}{{np.url}}">{{np.title}}</a> / 推荐指数：{% for i in (0..recommended.exponent) %}💛{% endfor %}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="subpanel">
                            <div class="inner">
                                <div class="header default-bg-color">
                                    分类/标签
                                </div>
                                <div class="content">
                                    {% for category  in site.categories %}
                                    {% assign c = category | first %}
                                    
                                    {% for m in site.data.menu %}
                                        {% assign ut = m.url | split: ":" | last %}
                                        {% if ut == c %}
                                            {% assign url = m.url %}
                                            {% break %}
                                        {% endif %}
                                    
                                        {% if m.item %}
                                            {% for sm in m.item  %}
                                            {% assign ut = sm.url | split: ":" | last %}
                                                {% if ut == c %}
                                                    {% assign url = sm.url %}
                                                    {% break %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <div><a title="📌{{c}}" href="{% if namespace != nil %}/{{namespace}}{% endif %}{{url}}">📌{{c}}</a> / {{ category | last | size }}</div> 
                                    {% assign url = # %}
                                    {% endfor %}

                                    
                                </div>
                            </div>
                        </div>


                        
                    </div>
                </div>

                <!-- 目录 -->
                <div class="panel">
                    <div class="inner bg-color-info">
                        <div class="bg-color-info header ">
                            目录
                        </div>
                        <div class="content">
                            <div>
                                分类：
                                {% for category  in site.categories %}
                                    {% assign c = category | first %}
                                    
                                    {% for m in site.data.menu %}
                                        {% assign ut = m.url | split: ":" | last %}
                                        {% if ut == c %}
                                            {% assign url = m.url %}
                                            {% break %}
                                        {% endif %}
                                    
                                        {% if m.item %}
                                            {% for sm in m.item  %}
                                            {% assign ut = sm.url | split: ":" | last %}
                                                {% if ut == c %}
                                                    {% assign url = sm.url %}
                                                    {% break %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    <a title="{{c}}" href="{% if namespace != nil %}/{{namespace}}{% endif %}{{url}}">{{c}}</a>
                                    {% if forloop.last == false%}·{% endif %}
                                    {% assign url = # %}
                                    {% endfor %}
                            </div>
                            <div>
                                标签：
                                {% for tag in site.tags %}
                                    <a title="{{tag | first}}" href="{% if namespace != nil %}/{{namespace}}{% endif %}/Tag:{{tag | first}}">{{tag | first}}</a>
                                    {% if forloop.last == false%}·{% endif %}
                                {% endfor %}
                            </div>
                            <div>
                                作者：
                                {% assign  authors = "" %}
                                {% for post in site.posts %}
                                    {% if post.author %} 
                                        {% assign authors = authors | append: post.author | append: "," %} 
                                    {% else %}
                                        {% assign authors = authors | append: site.data.application.worknotes.author | append: "," %} 
                                    {% endif %}

                                {% endfor %}
                                {% assign authors = authors | split: "," | uniq  %}

                                {% for author in authors  %}
                                    <a href="javascript:void();" title="{{author}}">{{author}}</a>
                                    {% if forloop.last == false%}·{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- license -->
                <div class="panel">
                    <div class="inner">
                        <div class="header default-bg-color">
                            文章许可协议 
                        </div>
                        <div class="content" style="text-align: center;">
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
                                <img alt="知识共享许可协议" style="border-width:0" src="{{accets_path}}/images/license-80x15.png" />
                                <!-- <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /> -->
                            </a><br />本网站所有作品均采用<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">知识共享署名-非商业性使用 4.0 国际许可协议</a>进行许可。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>