<div id="main">
    <div id="react-root">
        <div class="channel-featured">
            <div class="widgets-container">
                <div class="widgets-article-count">
                    <div class="article-count-mate">至今共发布
                        <span class="article-count-num">{{ site.posts.size }}</span>篇文章
                    </div>
                </div>
                <div class="widgets-slogan">
                    <div class="widgets-slogan-mate">
                        <p>{{ site.data.application.worknotes.slogin }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>