<div class="site-article">
    <div class="site-article-mate">
        <h1>{{ page.title }}</h1>
        <div class="site-article-mate-info">
        <figcaption class="figure-caption">
            by {{ site.worknotes.author }} | 日期: {{ page.date | date: '%m, %d, %Y' }} | 归档: 
        </figcaption>
        <ul class="tags">
            {% if page.tags %}
            {% for tag in page.tags %}
            <li class="tags-item">
                <a href="/{{namespace}}/notes/tag/{{ tag }}">{{ tag }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        </div>
    </div>
    <div class="site-article-content">{{ content }}</div>
</div>