{% include setup.html %}

<div class="layout-vertical">
    <div class="article-header">
        <div class="chapter-header">
            <h1>{{ page.title }}</h1>
            <div class="meta-info">
                    <figcaption class="figure-caption">
                            由 {{ site.data.application.worknotes.author }} 在 {{ page.date | date: '%Y年%m月%d日' }} 发布
                            {% if page.update_date %} ,最后修改于 {{ page.update_date | date: '%Y年%m月%d日 (%H:%M)' }}  {% endif %} | 标签:
                    </figcaption>
                    <ul class="tags">
                        {% if page.tags %}
                        {% for tag in page.tags %}
                        <li class="tags-item">
                            <a title="{{ tag }}" href="{{namespace}}/Tag:{{ tag }}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
            </div>
        </div>
    </div> 
    <div class="article">
        <div class="inner">
                <div class="page">
                    <div class="content">{{ content namespace=namespace }}</div>
                </div>
        </div>
    </div>

    
</div>