:root {
    --header-height: 50px;
    --sub-menu: 40px;
    --default-main-width: 73.5rem;
}
::selection {
    background-color:var(--selection-bg-color);
    color:var(--selection-text-color);
}
::-moz-selection {
    background-color:var(--selection-bg-color);
    color:var(--selection-text-color);
}
::-webkit-selection {
    background-color:var(--selection-bg-color);
    color:var(--selection-text-color);
}

.bg-color-info{
    background-color: #E6F2FF;
}

.bg-color-warning{
    background-color: #ffc107;
}

body{
    font: 12px/1.5 \5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1,'Helvetica Neue',Helvetica,'Lucida Grande','Luxi Sans',Arial,'PingFang SC','Hiragino Sans GB',STHeiti,'Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Micro Hei Mono','WenQuanYi Zen Hei','WenQuanYi Zen Hei Mono',LiGothicMed;
    color: var(--black);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--white);
}

blockquote{
    display: flex;
    flex-flow: inherit;
}
blockquote p{
    font-weight: 900;
}

blockquote::before{
    content: " ";
    background-color: #e7e7e7;
    max-width: 4px;
    min-width: 4px;
    margin-bottom: 0.65rem;
    margin-right: 0.65rem;
}

header{
    padding-top: 21px;
    margin-bottom: 30px;
    background: var(--nav-bg-color);
}

article, main, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ul, ol{
    font-size: 0;
}

ol, ul{
    list-style: none;
}
a {
    cursor: pointer;
    color: inherit;
}
a {
    text-decoration: none;
}

a:hover{
    color: var(--link-hover-text-color);
}

*[show]{
    display: block;   
}

*[hide]{
    display: none;
}

#header-container{
    margin-bottom: 30px;
    height: 50px;
    height: var(--header-height);
    position: relative;
    width: 100%;
}

#header-container *{
    box-sizing: content-box;
}

#header-compact-v1{
    font-size: 12px;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: var(--nav-bg-color);
    color: var(--nav-text-color);
    padding-top: 0px;
    width: auto;
}

#header-compact-v1:last-child{
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#header-compact-v1.should-stick{
    position: fixed;
}

#header-compact-v1 a:not([class^=btn]){
    /* color: var(--grayBlack) */

}

#header-compact-v1 .header-inner{
    display: flex;
    padding: 0 26px 0 26px;
    height: 50px;
    height: var(--header-height);
    white-space: nowrap;
}

#header-compact-v1 .site-logo,
#header-compact-v1 .site-search-logo{
    /* margin-top: 10px;
    width: 117px;
    position: relative; */
    width: 117px;
    position: relative;
    line-height: 50px;
    text-align: center;
    display: flex;
}
#header-compact-v1 .site-search-logo{
    width: auto;
}
.site-logo img{
    width: 80%;
}

.header-inner a{
    cursor: pointer;
}

#header-compact-v1 .site-nav-container,
#header-compact-v1 .site-nav-right{
    height: 50px;
    height: var(--header-height);
    -webkit-box-flex: 1; 
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;
}

#header-compact-v1 .site-nav-container li{
    display: inline-block;
    vertical-align: top;
}

#header-compact-v1 .site-nav-container .site-nav{
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s;
    height: 100%;
}

#header-compact-v1 .site-nav-container .site-nav li{
    font-size: 14px;
}

#header-compact-v1 .site-nav{
    text-align: center;
}

#header-compact-v1 .site-nav.site-nav-original{
    margin: 0 15px 0 10px;
    padding: 0 10px;
    /* position: relative; */
}


#header-compact-v1 .site-nav-container .site-nav a{
    padding: 0 17px;
}

#header-compact-v1 .site-nav-container a{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 50px;
    height: var(--header-height);
    position: relative;
    color: var(--nav-text-color);
}

#header-compact-v1 .site-nav.site-nav-original ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

#header-compact-v1 .site-nav.site-nav-original li{
    font-size: 13px;
}

#header-compact-v1 .site-nav-container li{
    display: inline-block;
    vertical-align: top;
}

#header-compact-v1 .site-nav.site-nav-original a{
    padding: 0 10px;
}

#header-compact-v1 .site-nav-container-submenu{
    display: flex;
    flex-flow: column;
    background-color: white;
    max-height: var(--sub-menu);
    height: var(--sub-menu);
}

#header-compact-v1 .site-nav-container-submenu ul{
    list-style: none;
    padding: 8px 4px;
    display: flex;
}
#header-compact-v1 .site-nav-container-submenu ul li{
    font-size: 13px;
    color: black;
    padding: 0 4px;
}

.site-nav .drop-menu{
    display: flex;
}
/* .drop-menu:hover .drop-menu-container{
    display: block;
} */

.drop-menu-container{
    background-color: var(--nav-drop-menu-bg-color);
    z-index: 1035;
    color: var(--nav-drop-menu-bg-color);
    /* border: 1px solid red; */
    /* height: 900px; */
    position: fixed;
    top: 50px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    display: none;
}
.drop-menu-container .drop-menu-item{
    
    display: flex;
    flex-flow: column;
}
.drop-menu-container .drop-menu-item span{
    padding: 6px 0px;
}
/* .drop-menu-item:not(:first-child)::before{
    content: " ";
    width: 100%;
    height: 1px;
    background-color: black;
} */

.site-dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}


.search-content input{
    border: none;
    padding: 4px;
    width: auto;
}

.search-btn{
    display: flex;
}
.search-btn button{
    background-color: black;
    border: none;
    color: white;
    font-weight: 900;
    padding: 4px 14px;
}
.search-btn::before{
    content: "";
    width: 0.64rem;
}


#main {
    min-height: calc(100vh - 90px);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow: hidden;
}

.detail-section{
    margin-bottom: 40px;
}

.section-inner-container{
    max-width: 752px;
    margin: 0 auto;
    padding: 0 20px;
}

.detail .item{
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.detail .item:not(:last-child){
    position: relative;
}

.detail .item .works-item-container{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    min-width: 0;
}

.detail .item:not(:last-child)::after{
    left: 0;
    bottom: 0;
    widows: 100%;
    height: 0;
    border-bottom: 1px solid red;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 bottom;
    transform-origin: 0 bottom;
}

.detail .item:not(:last-child)::after {
    content: '';
    position: absolute;
}

.detail .item .works-item{
    /* height: 120px; */
}

.works-item{
    position: relative;
    line-height: 1;
}

.works-item .inner{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.works-item .info{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
}

.works-item .title {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    color: var(--grayBlack);
}

.works-item .title .title-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.works-item .author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 12px;
    font-size: 12px;
    color: #777;
}

.works-item .intro {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.5;
    /* height: 40px; */
}
.layout-vertical{
    display: flex;
    flex-flow: column;
}

.article-header{
    /* margin: 3.75rem auto 0; */

    margin-top: 3.75rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    /* width: 42.5rem; */
    /* width: 73.5rem !important; */
    width: var(--default-main-width);
    position: relative;
    z-index: 1;
}

.article-header .chapter-header{
    margin-bottom: -1.75rem;
}

.article-header h1{
    font-size: 36px;
    font-weight: bold;
}

.article-header .chapter-header .meta-info{
    height: 16px;
    margin-top: 5px;
    display: flex;
}

.article-header .chapter-header .tags{
    list-style: none;
    display: flex;
    font-size: 90%;
}

.article-header .chapter-header .tags .tags-item{
    padding-left: 4px;
}

.layout-vertical .article{
    position: relative;
    height: auto;
    /* width: 46.5rem !important; */
    /* width: 73.5rem !important; */
    width: var(--default-main-width);
}

.article .inner, .article{
    position: relative;
    height: auto;
}

.article{
    margin: 0 auto;
    padding-left: 0;
}

.layout-vertical .article .inner{
    position: static;
    left: 0;
    height: auto;
    margin-left: 0;
    padding-top: 5em;
    padding-bottom: 5em;
}

.page{
    position: relative;
    /* padding: 5em 2rem 2.5em; */
    margin: 0;
    cursor: default;
}
.page .content{
    overflow: hidden;
}


.page .content table{
    font-size: 1rem;
    width: 100%;
}

.page .content table th,
.page .content table tr,
.page .content table td{
    min-width: 80px;
    padding: 5px;
    border: 1px solid #f1f1f1;
    vertical-align: text-top;
}

.layout-vertical .article .page {
    padding-top: 0;
    padding-bottom: 0;
}

.content p,
.content table *
{
    font-size: 13px;
}
.content h4{
    font-size: 1.15rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content ol,
.content ul,
.content p{
    line-height: 2;
    min-height: 2em;
    text-align: justify;
    text-justify: inter-ideograph;
    hyphens: auto;
    /* white-space: pre-line; */
    with-space:initial;
    margin-bottom: 1.65rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6{
    font-weight: 600;
    margin-bottom: 1rem;

}

.content ol,
.content ul,
.content p{
    /* font-size: 16px; */
   
    font-weight: 400;
}
.content ol,
.content ul{
    padding: 0px 1rem;
    list-style-type: disc;
}

.content p{
    margin-bottom: 0.65rem;
}

.content ul li:first-child,
.content ol li:first-child{
    margin-top: -1.65rem;
}

.content  pre[class^=highlight]{
    padding: 0.5em;
    line-height: 2;
    min-height: 2em;
    margin-bottom: 1.65rem;
    background-color: #fafafa;
    border: 1px solid #07070705;
    font-size: 12px;
}

.article-header a,
.content a{
    color: #007bff;
} 

.content p img{
    width: 90%;
    /* height: 60%; */
    /* position: fixed; */
    display: list-item;
    margin: 1.65rem auto;
}

.widgets-container{
    padding-top: 5em;
    padding-bottom: 5em;
}

.widgets-container .widgets-article-count{
    margin-bottom: 30px;
}

.article-count-mate{
    font-size: 24px;
    margin: 0 auto;
    /* position: relative; */
    display: table;
}
.article-count-mate .article-count-num{
    font-size: 200%;
    margin: 0 5px;
    /* color: #007bff; */
}

.widgets-slogan-mate{
    font-size: 16px;
    font-weight: 200;
    margin: 0 auto;
    display: table;
}

.widgets-slogan-mate p::after,
.widgets-slogan-mate p::before{
    content: "·";
    padding: 0 15px;
    font-weight: 900;
}

/* .content P{
     text-indent: 2em; 
    line-height: 2;
    min-height: 2em;
    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
    text-autospace: ideograph-alpha;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: pre-line;
    font-size: 16px;
    margin-bottom: 1.5em;
}  */
#footer-compact {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    height: 40px;
    background: var(--blueBlack);
}

#footer-compact .inner {
    width: auto;
    padding: 0 20px 0 10px;
}

#footer-compact .copyright {
    /* color: var(--gray);
    top: 50%;
    height: 32px;
    line-height: 1.4; */

    position: relative;
    color: var(--gray);
    top: 50%;
    height: 32px;
    line-height: 1.4;
    /* margin: -16px 0 0; */
    width: 100%;
}






/* categorybar */
.categorybar{
    border: 1px solid #ccc;
    /* width: 73.5rem !important; */
    width: var(--default-main-width);
    margin: 0rem auto 5rem auto;
    position: relative;
    height: auto;
}

.categorybar .inner {
    position: static;
    padding: .25rem;
    height: auto;
}

.categorybar .inner .content {
    display: flex;
    position: relative;
}

.categorybar .inner .content .label{
    width: 2.5rem;
}

.categorybar .inner .content .categorys{
    position: relative;
    display: flex;
    flex-flow: row wrap;
}
.categorybar .inner .content .category{
    padding: 0 .25rem;
    /* border-right: 1px solid #ccc; */
}
/* 
.categorybar .inner .content .category:last-child{
    padding: 0 .25rem;
    border-right: none;
} */
/* end categorybar */


/* panel */
/* .panel{
    max-width: var(--default-main-width);
    width: auto;
    margin: 0 auto 0 auto;
    font-size: 1rem;
}

.panel .header{
    border: 1px solid #ccc;
    
} */
.panel ,
.subpanel{
    position: relative;
    max-width: calc( var(--default-main-width) + 1.5rem );
    margin: 0 auto 0 auto;
    font-size: 0.85rem;
    width: 100%;
    padding: 0 0.75rem 0.75rem  0.75rem;
}
.subpanel{
    padding: 0 0 0 0.75rem;
    
}
.subpanel:first-child{
    padding-left: 0;
}



.panel .inner,
.panel .inner-none-border {
    display: flex;
    width: 100%;
    padding: 0.25rem;
    height: auto;
    flex-flow: column;
    border: 1px solid #ccc;
}

.panel .inner-none-border {
    border: none;
    padding: 0;
    flex-flow: row;
}

/* .panel .inner-none-border .subpanel .inner{
    flex-flow: row;
} */

.panel .inner .header.default-bg-color{
    background-color: #f6f7f8;
}

.panel .inner .header {
    /* background-color: #f6f7f8; */
    width: 100%;
}

.panel .inner .content {
    border-color: white;
    font-size: 13px;
    border-top: 1px solid #ccc;
    padding-top: 0.25rem;
}


/* endpanel*/

/* search */
#header-compact-v1 .site-nav-search-container{
    height: 50px;
    height: var(--header-height);
    -webkit-box-flex: 1; 
    overflow: hidden;

    display: flex;/*设置为弹性容器*/
    align-items: center; /*定义div1的元素垂直居中*/
    justify-content: center; /*定义div1的里的元素水平居中*/
}

#header-compact-v1 .site-nav-search{
    border: 1px solid #a90b2e;
    height: 25px;
    background-color: white;
    width: 250px;
    position: relative;
    padding: 2px;
}

#header-compact-v1 .site-nav-search ul{
    position: fixed;
    display: flex;
    flex-flow: column;
    width: 340px;
    background-color: white;
    border: 1px solid #ccc;
    right: 26px;
    max-height: calc( 100vh - 20vh );
    margin-top: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}
.site-nav-search ul li{
    width: 100%;
    padding: 2px;
    font-size:.75rem;
    /* color: black; */
    border-bottom: 1px solid #f6f6f6;
    cursor: pointer;
}
.site-nav-search ul a{
    color: var(--blue);
}
.site-nav-search ul li.active,
.site-nav-search ul li:hover{
    background-color: var(--nav-bg-color);
    color: white;
}
#header-compact-v1 .site-nav-search input{
    width: 100%;
    height: 100%;
    border: none;
}


/* end search */