<div id="header-container">
    <header id="header-compact-v1" class="should-stick">
        <div class="header-inner">
            <a href="/{{namespace}}" title="Work Notes" class="site-logo">Work Notes</a>
            <div class="site-nav-container">
                <nav class="site-nav site-nav-original" >
                    <ul>
                        {% for menu in site.data.Menu %}
                            {% if menu.item %}
                                <li site-action="drop-menu">
                                    <a  href="{% if namespace != nil %}/{{namespace}}{% endif %}{{ menu.url }}">{{ menu.name }}</a>
                                </li>
                            {% else %}
                                <li><a href="{% if namespace != nil %}/{{namespace}}{% endif %}{{ menu.url }}">{{ menu.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>