{% assign menuobj = site.data.menu  | where: 'name' ,page.category %}
{% assign menuobj = menuobj[0] %}

<div id="header-container"  {% if menuobj.item %} style="height: calc(var(--header-height) + var(--sub-menu))" {% endif %} >
    <header id="header-compact-v1" class="should-stick">
        <div class="header-inner">
            <a href="/{{namespace}}" title="Work Notes" class="site-logo">
                <!-- <img src="{{accets_path}}/favicon/favicon.png"/> -->
                <div style="padding-right: 2px; font-size: 18px; color: var(--black); font-weight: 900;">Work</div>
                <div style="padding-left: 2px; font-size: 18px; color: var(--white); font-weight: 900;">Notes</div>
            </a>
            <div class="site-nav-container">
                <nav class="site-nav site-nav-original" >
                    <ul>
                        {% for menu in site.data.menu %}
                            <li><a href="{% if namespace != nil %}/{{namespace}}{% endif %}{{ menu.url }}">{{ menu.name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="site-nav-search-container">
                <div id="list-id" class="site-nav-search">
                    <input type="text" onkeyup="search_worknotes(this.value)"/>
                    <ul id="search_list" style="display: none;" >
                        <!-- {% for p in site.posts %}
                        <a title="{{p.title}}" href="{{p.url}}"><li>{{p.title}}</li></a>
                        {% endfor %} -->
                    </ul>
                </div>
            </div>

            <!-- search script -->
          


            <script type="text/javascript">
                window.onload = function(){
                    axios.get("{% if namespace != nil %}/{{namespace}}{% endif %}/data/worknotes-list.json")
                    .then(function(response){
                        // console.log(response)
                        // console.log(typeof(response.data))

                        var options = {
                            shouldSort: true,
                            threshold: 0.6,
                            location: 0,
                            distance: 100,
                            maxPatternLength: 32,
                            minMatchCharLength: 1,
                            keys: [
                                "title"
                            ]
                        };
                        window.fuse = new Fuse(response.data, options); 
                    });                    
                }

                var search_worknotes = function(text){
                    var obj = document.getElementById("search_list");
                    

                    // // 选择查询出来的数据
                    // var objitems = obj.getElementsByTagName('li');
                    // var cur_item = null;
                    // var cur_item_inx = -1;

                    // if(objitems.length > 0){
                    //     for( var i = 0; i < objitems.length; i++ ){
                    //         var active = objitems[i].getAttribute("class");

                    //         // console.log("ACTIVE", objitems[i])
                    //         if(active && active.length >0 ){
                    //             cur_item = active;
                    //             cur_item_inx = i ;
                    //         }
                    //     }
                    // }


                    // var e = event || window.event || arguments.callee.caller.arguments[0];
                    // if(e && e.keyCode==38 ){
                    //     if(objitems.length > 0){
                    //         var active_index = cur_item_inx - 1;
                    //         console.log("cur_item_inx - 1;", active_index)
                    //         if(active_index < 0){
                    //             active_index = objitems.length-1;
                    //         }
                    //         if(cur_item_inx >= 0){
                    //             objitems[cur_item_inx].removeAttribute("class")
                    //         }
                    //         objitems[active_index].setAttribute("class","active");

                    //         console.log("current_index:", cur_item_inx, "active:", active_index,objitems[5])
                    //     }
                    // }else if( e && e.keyCode==40 ){
                    //     if(objitems.length > 0){
                    //         var active_index = cur_item_inx+1;
                    //         if(active_index > objitems.length-1){
                    //             active_index = 0;
                    //         }
                    //         if(cur_item_inx >= 0){
                    //             objitems[cur_item_inx].removeAttribute("class")
                    //         }
                    //         objitems[active_index].setAttribute("class","active");

                    //         console.log("current_index:", cur_item_inx, "active:", active_index)
                    //     }
                    // }else{

                        var result = window.fuse.search(text);
                        
                        if(result && result.length >0){
                            obj.setAttribute("style","display:block;")
                            var item_string = "";
                            for(var i=0; i< result.length; i++){
                                // onmouseout="this.removeAttribute(\'class\')" onmouseover="this.setAttribute(\'class\',\'active\')"
                                item_string += '<a title="'+result[i].title+'"  href='+result[i].url+'><li>'+result[i].title+'</li></a>'
                            }

                            obj.innerHTML = item_string;
                        }else{
                            obj.setAttribute("style","display:none;")
                            obj.innerHTML = "";
                        }
                    // }


                    

                    


                }

            </script>
            <!-- end search script -->
        </div>

        {% if menuobj.item %}
        <div class="site-nav-container-submenu">
            <ul>
                {% for menu in menuobj.item %}
                <li><a href="{% if namespace != nil %}/{{namespace}}{% endif %}{{ menu.url }}">{{ menu.name }}</a></li> 
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </header>
</div>


